Link {
  text-decoration: none;
  color: black;
}

.GoalSet {
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.Title {
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  border-radius: 15px;
  margin: 15px 40px;
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .GoalSet {
    .GoalCartoon {
      display: none;
    }
  }
}
