.App{
  padding: 30px 40px;
}

.Floater{
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
  margin-bottom: 5px;
}

@keyframes floating{
  0% { transform: translate(0, 0px);}
  50% { transform: translate(0, 15px);}
  100% { transform: translate(0, -0px);}
}

.GoalArray{
  display: flex;
  justify-content: space-evenly;
}

h1{
  font-weight: lighter;
  font-size: 64px;
}

.Task{
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 13px 16px 29px rgba(63, 63, 63, 0.2);
  margin: 15px 40px;
  padding: 1px 0px ;
  text-align: center;
}

.Title{
  background-color: beige;
  border-radius: 15px;
  margin: 15px 40px;
  padding: 15px;
  text-align: center;
}