.App{
  padding: 30px 40px;
}

.GoalArray{
  display: flex;
  justify-content: space-evenly;
}

h1{
  font-weight: lighter;
  font-size: 64px;
}


.Task{
  background-color: #e0e0e0;
  border-radius: 15px;
  box-shadow: 13px 16px 29px rgba(63, 63, 63, 0.2);
  margin: 15px 40px;
  padding: 5px;
  text-align: center;
}

.Title{
  background-color: beige;
  border-radius: 15px;
  margin: 15px 40px;
  padding: 15px;
  text-align: center;
}
